body {
    font-family: 'Open Sans', sans-serif; /* Устанавливает шрифт для всего текста на странице */
    font-size: 20px; /* Устанавливает базовый размер шрифта */
    margin: 0; /* Убирает внешние отступы у тела страницы */
    padding: 0; /* Убирает внутренние отступы у тела страницы */
}

ul {
    list-style-type: none; /* Убирает маркеры списка */
    padding: 0; /* Убирает внутренние отступы у списка */
}

li {
    margin-bottom: 20px; /* Устанавливает расстояние между элементами списка */
}

h3 {
    font-size: 16px; /* Устанавливает размер шрифта для заголовков */
    font-weight: bold; /* Устанавливает полужирное начертание для заголовков */
    margin-bottom: -10px; /* Управляет расстоянием между заголовками и следующими элементами */
}

.price {
    font-weight: normal; /* Устанавливает обычное начертание для цены */
    color: #007bff; /* Устанавливает цвет текста для цены */
}

span {
    font-size: 16px; /* Устанавливает размер шрифта для текста внутри span */
}

.dis-stats {
    display: flex; /* Определяет контейнер flex для распределения элементов на странице */
}

.stats {
    flex: 1; /* Занимает доступное пространство в контейнере flex */
    max-width: 50%; /* Устанавливает максимальную ширину для блока */
}

.details {
    flex: 1; /* Занимает доступное пространство в контейнере flex */
    margin-left: 20px; /* Устанавливает отступ слева от блока */
}
